<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>Soiwenttoaconcert</title>
</head>
<body>

<h1>Add Concert Event</h1>

<form method="post">
    <!--TODO: add event review field ek-->
    <input label= "artist" type="text" name="artistName">Artist</label>
    <br>
    <input label="location" type="text" name="location">Location</label>
    <br>
    <input label="date" type="text" name="date">Date</label>
    <br>
    <input label="venue" type="text" name="venue">Venue</label>
    <br>
    <input label="festival" type="checkbox" name="festival" value="Festival">Is this part of a festival?</label>
    <br>
    <input type="submit" value="Add Concert 🎫">
</form>


<!--added choice to return to user artists ek-->
<a href=".."><input type="submit" value="Profile 🧑‍🎤👨‍🎤👩‍🎤"/></a>

<!--TODO: add confirmation of data entry ek-->
<!--TODO: add stars or other rating system ek-->
<!--TODO: add memorable checkbox value yes/no ek-->

</body>
</html>