<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>Soiwenttoaconcert</title>
</head>
<body>

<h1>Add Concert Event</h1>

<form method="post">
    <table>
        <tr>
            <td>Artist</td>
            <td><input type="text" name="artistName"/></td>
        </tr>
        <tr>
            <td>Location</td>
            <td><input type="text" name="location"/></td>
        </tr>
        <tr>
            <td>Date</td>
            <td><input type="text" name="date"/></td>
        </tr>
        <tr>
            <td>Venue</td>
            <td><input type="text" name="venue"/></td>
        </tr>
        <tr>
            <td>Is this a festival?</td>
            <td><input type="checkbox" name="festival"/></td>
        </tr>
        <tr>
            <td><input type="submit" value="Add Concert"/></td>
        </tr>
    </table>
</form>

</body>
</html>