<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Delete Concert Event</h1>

<form method="post">

        <div class="form-group">
            <label>
                <span th:text="${event.artistName}"></span>
                <span th:text="${event.location}"></span>
                <span th:text="${event.date}"></span>
                <span th:text="${event.venueId}"></span>
                <span th:text="${event.festival}"></span>
                <input type="checkbox" name="eventId" th:value="${event.eventId}" class="form-control">
            </label>
        </div>


    <input type="submit" value="Delete Selected Events" class="btn btn-danger">
</form>
</body>
</html>
