<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table class="table table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Location</th>
        <th>Date</th>
        <th>Venue</th>
        <th>Festival</th>
        <th>Attended</th>
    </tr>
    </thead>
    <tr th:each="event : ${events}">
        <td th:text="${event.eventId}"></td>
        <td th:text="${event.artistName}"></td>
        <td th:text="${event.location}"></td>
        <td th:text="${event.date}"></td>
        <td th:text="${event.venueId}"></td>
        <td th:text="${event.festival}"></td>
        <td th:if = "${attendedEvents.contains(event)}">Attended</td>
        <td th:unless = "${attendedEvents.contains(event)}">Not Attended</td>
    </tr>
</table>

<!--TODO return to add more events-->
<!--TODO return to artists-->

<a href="create"><input type="submit" value="Create Event 🎫"/></a>
<a href=".."><input type="submit" value="Profile 👩‍🎤👨‍🎤🧑‍🎤"/></a>
<a href="/events/select"><input type="submit" value="Add an existing event to my profile! 🎧"</a>

</body>
</html>
