<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table class="table table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Location</th>
        <th>Date</th>
        <th>Venue</th>
        <th>Festival</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tr th:each="event : ${events}">
        <td th:text="${event.eventId}"></td>
        <td th:text="${event.artistName}"></td>
        <td th:text="${event.location}"></td>
        <td th:text="${event.date}"></td>
        <td th:text="${event.venueId}"></td>
        <td th:text="${event.festival}"></td>
        <td>
            <a href="#" th:href="@{/events/edit/{id}(id=${event.eventId})}">Edit</a>
<!--            <a href="#" th:href="@{/events/delete/{id}(id=${event.eventId})}">Delete</a>-->
            <a href="#" th:href="@{/events/delete}">Delete</a>
        </td>
    </tr>
</table>
<br>
<a th:href="@{/events/create}">Add New Concert Event</a>
</body>
</html>
