<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8"/>
  <title>EditProfile</title>
</head>
<body>

<h1>Edit Profile</h1>

<form method="post">

  <p><input label= "user" type="text" name="userName">Attendee</label></p>

  <p><input label="userlocation" type="text" name="userlocation">Location</label></p>

  <p><input label="userBio" type="text" name="userBio">Bio</label></p>

  <input type="submit" value="submit">
</form>


<a href=".."><input type="submit" value="Profile"/></a>



</body>
</html>