<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="fragments :: header"></header>
<div class="container" style="margin-top:115px;">
<form method="post">
    <div class="form-group">
        <label>
            <span th:text="${venue.venueId}"></span>
            <span th:text="${venue.venueName}"></span>
            <span th:text="${venue.venueLocation}"></span>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="venueId" th:value="${venue.venueId}">
            </div>
        </label>
        <input class="btn btn-secondary btn-lg" type="submit" value="Delete Selected Venues">
    </div>

</form>
</div>
</body>
</html>