<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <link rel="stylesheet" type="text/css" href="bootstrap.css">
</head>

<body>

<div th:replace="fragments :: page-header"></div>

<p th:unless="${venues} and ${venues.size()}">Currently no venues.</p>

<div>
    <h2>Venues</h2>
    <form method = 'post'>
        <input type = 'text' name = 'venues'/>
        <input type = 'submit' value = 'Search Venues'/>
    </form>
    <ul>
        <h3> Venue Name</h3>
        <th:block th:each="venue : ${venues}">
<!--            <a th:href="@{'/venues/view/'}" th:text="${venue.name}"></a>-->
            <li th:text="${venue}"></li>
        </th:block>
    </ul>

    <ul>
        <h3> Venue Address</h3>
        <th:block th:each="location : ${locations}">
            <!--            <a th:href="@{'/venues/view/'}" th:text="${venue.name}"></a>-->
            <li th:text="${location}"></li>
        </th:block>
    </ul>

    <ul>
        <h3> Upcoming Events</h3>
<!--        <th:block th:each="upcomingEvent : ${upcomingEvents}">-->
<!--            &lt;!&ndash;            <a th:href="@{'/venues/view/'}" th:text="${venue.name}"></a>&ndash;&gt;-->
<!--            <li th:text="${upcomingEvent}"></li>-->
<!--        </th:block>-->
    </ul>

    <a th:href="@{'/venues/create'}">Add Venues</a> <br>
    <a th:href="@{'/venues/edit'}">Edit Venues</a>

</div>

</body>
</html>