<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<p th:unless="${venues} and ${venues.size()}">Currently no venues.</p>

<div>
    <h2>Venues</h2>
    <ul>
        <li th:each="venue : ${venues}">
            <a th:href="@{'/venues/view/'}" th:text="${venue.name}"></a>
        </li>
    </ul>
    <a th:href="@{'/venues/add'}">Add Venues</a> <br>
    <a th:href="@{'/venues/edit'}">Edit Venues</a>

</div>

</body>
</html>