 /* Split the screen in half w3 schools*/
 .split {
   height: 100%;
   width: 50%;
   position: fixed;
   z-index: 1;
   top: 0 !important;
   overflow-x: hidden;
   padding-top: 20px;
 }

 /* Control the left side */
 .left {
   left: 0;
   background-color: #ededed ;
 }

 /* Control the right side */
 .right {
   right: 0;
   background-color: #white ;
 }

 /* If you want the content centered horizontally and vertically */
 .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
 }

 /* If you want table centered horizontally and vertically */
  .centered-table-25 {
    position: absolute;
    top: 25%;
    left: 25%;
    transform: translate(-25%, -25%);
    text-align: center;
  }

   .centered-table-50 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
   }

   .centered-table-75 {
      position: absolute;
      top: 75%;
      left: 75%;
      transform: translate(-75%, -75%);
      text-align: center;
   }

   .centered-table-25-50 {
       position: absolute;
       top: 25%;
       left: 25%;
       transform: translate(-50%, -50%);
       text-align: center;
     }

      .centered-table-50-50 {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         text-align: center;
      }

      .centered-table-75-50 {
         position: absolute;
         top: 75%;
         left: 75%;
         transform: translate(-50%, -50%);
         text-align: center;
      }

 /* Style the image inside the centered container, if needed */
 .centered img {
   width: 150px;
   border-radius: 50%;
 }

 .fieldWidth {
    width: 300px;
  }

#profileBiography {
    height: 90px;
}

 .checkbox {
 text-align: right;
 }

