<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>user center</title>
</head>
<body>

<!--added username variable to display user's name-->
    <h3>Welcome </h3>
    <h3 th:text="${greeting}">Greetings</h3>

<!--TODO: add if/then to show/hide table. i.e. hide if empty ek-->


<table class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Date</th>
    </tr>
    </thead>
    <tr th:each="event : ${events}">
        <td th:text="${event.artistName}"></td>
        <td th:text="${event.date}"></td>
    </tr>
</table>
    <a href="/logout"><input type="submit" value="Log out"/></a>
    <a href="events/create"><input type="submit" value="Create Event"/></a>
    <a href="events/index"><input type="submit" value="View Events"/></a>
</body>
</html>