<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<!--    <header th:replace="fragments :: header"></header>-->
    <section class="Form my-4 mx-5">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-lg-5">
                    <img src="https://townsquare.media/site/527/files/2016/01/Concert-Vertical-LukaTDB-Thinkstock.jpg" class="img-fluid" alt=""/>
                </div>
                <div class="col-lg-7 px-5 pt-5">
                    <h1 class="font-weight-bold py-3">So <br> I Went <br> to a <br> show </h1>
                    <h4>Sign into your account</h4>
                    <form method="post">
                        <div class="form-row">
                            <div class="col-lg-7">
                                <label>Username
                                     <input th:field="${loginFormDTO.username}" placeholder="Username" class="form-control my-3 p-4"/>
                                 </label>
                                 <p th:errors="${loginFormDTO.username}"></p>
                            </div>
                            <div class="col-lg-7">
                                <label>Password
                                    <input th:field="${loginFormDTO.password}" placeholder="********" class="form-control my-3 p-4"  type="password"/>
                                </label>
                                <p th:errors="${loginFormDTO.password}"></p>
                            </div>
                            <div class="col-lg-7">
                                <input type="submit" value="Log In ▶️" class="btn1 mt-3 mb-5"/>
                            </div>
                            <p>Don't have an account?<a href="/register">Register for one.</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>
</html>